* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: tahoma, sans-serif;
}

.containers {
    max-width: 1280px;
}

.content {
    margin: 0 10px;
}

.danh_sach {
    margin-top: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
    padding: 10px 20px 40px 20px;
    border-radius: 7px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
}

.danh_sach h3 {
    margin: 20px 0;
    color: var(--text-color);
    transition: var(--tran-05);
}

table {
    max-width: 1000px;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid rgba(0, 0, 0, 0.532);
    text-align: center;
}

th {
    color: #fff;
}

td,
th {
    padding: 10px 20px;
}

.action {
    margin: 15px 0;
}

td p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 420px;
}

td p:hover {
    overflow: visible;
    white-space: unset;
    /* word-break: break-word; */
}

.action {
    margin: 30px 0;
}

.action a {
    text-decoration: none;
    color: #fff;
    padding: 9px;
    background-color: #cb2027;
    border-radius: 10px;
}

table tr:nth-child(odd) {
    background-color: rgba(204, 204, 204, 0.667);
}

table tr:nth-child(even) {
    background-color: white;
}

table tr:nth-child(1) {
    background-color: #0194f3;
}

.bieu_do {
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
    padding: 10px 20px 40px 20px;
    border-radius: 7px;
    margin: 30px 0;
    background-color: var(--panel-color);
    transition: var(--tran-05);

}

.bieu_do h3 {
    color: var(--text-color);
    margin: 20px 0;
    transition: var(--tran-05);
}
