<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý BOOKING</title>
    <link rel="stylesheet" href="assets/css/admin-booking.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="container" style="display: flex;">
        <div style='width: 250px;'>

        </div>
        <div class="content">
            <div class="danh_sach">
                <h3>
                    DANH SÁCH BOOKING
                </h3>
                <div class="py-5">
                    <a href="" class="border border-2 rounded-md my-3 px-6 py-3 border-blue-500 text-blue-800 hover:bg-blue-500 hover:text-white">Xóa BOOKING</a>
                    <a href="" class="border border-2 rounded-md my-3 px-6 py-3 border-blue-500 text-blue-800 hover:bg-blue-500 hover:text-white">Thêm BOOKING</a>
                    <a href="" class="border border-2 rounded-md my-3 px-6 py-3 border-blue-500 text-blue-800 hover:bg-blue-500 hover:text-white">Sửa BOOKING</a>
                </div>
                
                <table border="1">
                    <tr>
                        <th>#</th>
                        <th style="width: 65px;">booking_id</th>
                        <th>name_booking</th>
                        <th>date_add</th>
                        <th>check_in_date</th>
                        <th>status</th>
                        <th>quantity_people</th>
                        <th>total_amount</th>
                        <th>id_user</th>
                        <th>message</th>
                        <th>phone</th>
                        <th>email</th>
                        <th>name</th>
                        <th>created_at</th>
                        <th>updated_at</th>
                    </tr>
    
                    <tr>
                        <td>
                            <input type="checkbox" name="" id="">
                        </td>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, deserunt nihil quidem facere dolore nobis numquam dolores illum nesciunt corporis velit quam consequatur autem tempore iste minus porro itaque maiores.
                            </p>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
        </div>
        <div class="bieu_do">
            <h3>
                THỐNG KÊ
            </h3> 
        </div>
    </main>
</body>
</html>