<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý bình luận</title>
    <link rel="stylesheet" href="assets/css/admin_cmt.css">
</head>
<body>
    <main class="container" style="display: flex;">
        <div style='width: 250px;'>

        </div>

        <div class="content">

            <div class="danh_sach">
                <h3>
                    DANH SÁCH BÌNH LUẬN CỦA NGƯỜI DÙNG
                </h3>

                <div class="action">
                    <a href="">Xóa bình luận</a>
                </div>

                <table>
                    <tr>
                        <th>#</th>
                        <th style="width: 65px;">ID</th>
                        <th>Người bình luận</th>
                        <th style="width: 420px;">Nội dung</th>
                        <th>Ngày bình luận</th>
                    </tr>
    
                    <tr>
                        <td>
                            <input type="checkbox" name="" id="">
                        </td>
                        <td>1</td>
                        <td>Tùng</td>
                        <td>
                            <p>
                                cho mình xin cho mình xin cho mình xin cho mình 
                                xin cho mình xin cho mình xin cho mình xin cho 
                                mình xin cho mình xin cho mình xin cho mình xin 
                                cho mình xin di
                            </p>
                        </td>
                        <td>11-11-2022</td>
                    </tr>
    
                    <tr>
                        <td>
                            <input type="checkbox" name="" id="">
                        </td>
                        <td>1</td>
                        <td>Tùng</td>
                        <td>cho mình thuê</td>
                        <td>11-11-2022</td>
                    </tr>
    
                    <tr>
                        <td>
                            <input type="checkbox" name="" id="">
                        </td>
                        <td>1</td>
                        <td>Tùng</td>
                        <td>cho mình thuê</td>
                        <td>11-11-2022</td>
                    </tr>
    
                    <tr>
                        <td>
                            <input type="checkbox" name="" id="">
                        </td>
                        <td>1</td>
                        <td>Tùng</td>
                        <td>cho mình thuê</td>
                        <td>11-11-2022</td>
                    </tr>
                </table>
            </div>

            <div class="bieu_do">
                <h3>
                    CÁC THỐNG KÊ VỀ BÌNH LUẬN CỦA NGƯỜI DÙNG
                </h3>

                
            </div>
        </div>

    </main>

</body>
</html>