<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết phòng</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
</head>

<body>
    <!--Content -->
    <section class="mx-auto max-w-[1200px] p-2">
        <h1 class="text-2xl font-bold text-[#0194f3] pb-2">STAYYINN - DELUXE DOUBLE OR TWIN ROOM</h1>
        <div class="text-xl items-center pb-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            </svg>
            <h3 class="px-2">Số 40, ngõ 80, phố Trung Kính, Phường Yên Hòa, Quận Cầu Giấy, Thành phố Hà Nội</h3>
        </div>
        <div class="grid grid-cols-3 gap-4">
            <div class="col-span-2">
                <img src="https://s3.go2joy.vn/1000w/hotel/12650/634_1663042883_6320054360dcd.jpg" alt=""
                    class="max-width rounded">
                <div class="grid grid-cols-4 gap-4">
                    <div class="column py-3">
                        <a href=""><img src="https://s3.go2joy.vn/1000w/hotel/12650/7974_1663039837_631ff95dd1ffc.JPG"
                                alt="" width="400"></a>
                    </div>
                    <div class="column py-3">
                        <a href=""><img src="https://s3.go2joy.vn/1000w/hotel/12650/7974_1663039837_631ff95dd1ffc.JPG"
                                alt="" width="400"></a>
                    </div>
                    <div class="column py-3">
                        <a href=""><img src="https://s3.go2joy.vn/1000w/hotel/12650/7974_1663039837_631ff95dd1ffc.JPG"
                                alt="" width="400"></a>
                    </div>
                    <div class="column py-3">
                        <a href=""><img src="https://s3.go2joy.vn/1000w/hotel/12650/7974_1663039837_631ff95dd1ffc.JPG"
                                alt="" width="400"></a>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="font-bold pb-3">Thông tin phòng</h3>
                <div class="flex pb-3 gap-4">
                    <p>Tầng 2</p>
                    <p>Cửa sổ</p>
                    <p>20m2</p>
                </div>
                <hr>
                <h3 class="font-bold py-3">Tính năng phòng bạn thích</h3>
                <p>Máy lạnh</p>
                <p class="pb-3">Nước nóng</p>
                <hr>
                <h3 class="font-bold py-3">Tiện nghi phòng</h3>
                <div class="grid grid-cols-2 gap-4 pb-3">
                    <div class="column ">
                        <ul class="list-disc pl-5">
                            <li>Máy lạnh</li>
                            <li>TV</li>
                            <li>Két an toàn tại phòng</li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul class="list-disc pl-5">
                            <li>Quầy bar mini</li>
                            <li>Bàn làm việc</li>
                            <li>Rèm cửa / màn che</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <h3 class="font-bold py-3">Tiện nghi phòng tắm</h3>
                <div class="grid grid-cols-2 gap-4 pb-3">
                    <div class="column ">
                        <ul class="list-disc pl-5">
                            <li>Nước nóng</li>
                            <li>Vòi tắm đứng</li>
                            <li>Máy sấy tóc</li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul class="list-disc pl-5">
                            <li>Phòng tắm riêng</li>
                            <li>Bộ vệ sinh cá nhân</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div>
                    <p class="py-3">Khởi điểm từ:</p>
                    <h3> <span class="text-3xl font-bold text-[#0194f3]">900.000 VND</span> <span class="text-xl">/
                            phòng / đêm</span> </h3>
                </div>
                <div class="flex justify-center">
                    <button
                        class="border border-2 rounded-md my-3 px-16 py-3 border-blue-500 text-[#0194f3] hover:bg-blue-500 hover:text-white">Đặt
                        phòng</button>
                </div>
            </div>
        </div>
    </section>
    <section class="mx-auto max-w-[1200px]">
        <h1 class="text-2xl font-bold text-[#0194f3] p-3">PHÒNG LIÊN QUAN</h1>
        <div class="grid grid-cols-4 gap-8 px-1 py-3 border-b border-black">
            <div class="column">
                <a href=""><img src="https://s3.go2joy.vn/1000w/hotel/12650/7974_1663039837_631ff95dd1ffc.JPG" alt=""
                        width="400"></a>
            </div>
            <div class="column">
                <h1 class="font-bold text-xl">Thông tin phòng</h1>
                <h1 class="font-bold text-xl py-5">FLASHSALE ROOM</h1>
                <h3 class="text-xl pb-10">Không có</h3>
                <a href="" class="underline font-bold text-xl hover:text-blue-600">Xem chi tiết ></a>
            </div>
            <div class="column">
                <h1 class="font-bold text-xl">Đặc điểm nổi bật</h1>
                <div class="flex">
                    <h1 class="border border-2 rounded-md my-2 border-red-500 text-red-500 font-bold">Giảm giá</h1>
                    <h1 class="border border-2 rounded-md mx-1 my-2 border-red-500 text-red-500 font-bold">Tặng giờ</h1>
                </div>
                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green"
                        class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                        <path
                            d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                    </svg>
                    <h1 class="py-7 px-3 font-bold">Đặt 2 giờ tặng 1 giờ</h1>
                </div>
            </div>
            <div class="column">
                <h1 class="font-bold text-xl">Giá phòng</h1>
                <h1 class="font-bold text-xl py-5 text-red-600">2 Giờ</h1>
                <h1><span class="font-bold pr-2 text-3xl">180.000đ</span> <span
                        class="text-xl line-through">200.000đ</span></h1>
                <button
                    class="border border-2 rounded-md my-3 px-8 py-3 border-blue-500 text-[#0194f3] hover:bg-blue-500 hover:text-white">Đặt
                    phòng</button>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-8 px-1 py-3 border-b border-black">
            <div class="column">
                <a href=""><img src="https://s3.go2joy.vn/1000w/hotel/12650/7974_1663039837_631ff95dd1ffc.JPG" alt=""
                        width="400"></a>
            </div>
            <div class="column">
                <h1 class="font-bold text-xl">Thông tin phòng</h1>
                <h1 class="font-bold text-xl py-5">FLASHSALE ROOM</h1>
                <h3 class="text-xl pb-10">Không có</h3>
                <a href="" class="underline font-bold text-xl hover:text-blue-600">Xem chi tiết ></a>
            </div>
            <div class="column">
                <h1 class="font-bold text-xl">Đặc điểm nổi bật</h1>
                <div class="flex">
                    <h1 class="border border-2 rounded-md my-2 border-red-500 text-red-500 font-bold">Giảm giá</h1>
                    <h1 class="border border-2 rounded-md mx-1 my-2 border-red-500 text-red-500 font-bold">Tặng giờ</h1>
                </div>
                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green"
                        class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                        <path
                            d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                    </svg>
                    <h1 class="py-7 px-3 font-bold">Đặt 2 giờ tặng 1 giờ</h1>
                </div>
            </div>
            <div class="column">
                <h1 class="font-bold text-xl">Giá phòng</h1>
                <h1 class="font-bold text-xl py-5 text-red-600">2 Giờ</h1>
                <h1><span class="font-bold pr-2 text-3xl">180.000đ</span> <span
                        class="text-xl line-through">200.000đ</span></h1>
                <button
                    class="border border-2 rounded-md my-3 px-8 py-3 border-blue-500 text-[#0194f3] hover:bg-blue-500 hover:text-white">Đặt
                    phòng</button>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-8 px-1 py-3 border-b border-black">
            <div class="column">
                <a href=""><img src="https://s3.go2joy.vn/1000w/hotel/12650/7974_1663039837_631ff95dd1ffc.JPG" alt=""
                        width="400"></a>
            </div>
            <div class="column">
                <h1 class="font-bold text-xl">Thông tin phòng</h1>
                <h1 class="font-bold text-xl py-5">FLASHSALE ROOM</h1>
                <h3 class="text-xl pb-10">Không có</h3>
                <a href="" class="underline font-bold text-xl hover:text-blue-600">Xem chi tiết ></a>
            </div>
            <div class="column">
                <h1 class="font-bold text-xl">Đặc điểm nổi bật</h1>
                <div class="flex">
                    <h1 class="border border-2 rounded-md my-2 border-red-500 text-red-500 font-bold">Giảm giá</h1>
                    <h1 class="border border-2 rounded-md mx-1 my-2 border-red-500 text-red-500 font-bold">Tặng giờ</h1>
                </div>
                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green"
                        class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                        <path
                            d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                    </svg>
                    <h1 class="py-7 px-3 font-bold">Đặt 2 giờ tặng 1 giờ</h1>
                </div>
            </div>
            <div class="column">
                <h1 class="font-bold text-xl">Giá phòng</h1>
                <h1 class="font-bold text-xl py-5 text-red-600">2 Giờ</h1>
                <h1><span class="font-bold pr-2 text-3xl">180.000đ</span> <span
                        class="text-xl line-through">200.000đ</span></h1>
                <button
                    class="border border-2 rounded-md my-3 px-8 py-3 border-blue-500 text-[#0194f3] hover:bg-blue-500 hover:text-white">Đặt
                    phòng</button>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-8 px-1 py-3 border-b border-black">
            <div class="column">
                <a href=""><img src="https://s3.go2joy.vn/1000w/hotel/12650/7974_1663039837_631ff95dd1ffc.JPG" alt=""
                        width="400"></a>
            </div>
            <div class="column">
                <h1 class="font-bold text-xl">Thông tin phòng</h1>
                <h1 class="font-bold text-xl py-5">FLASHSALE ROOM</h1>
                <h3 class="text-xl pb-10">Không có</h3>
                <a href="" class="underline font-bold text-xl hover:text-blue-600">Xem chi tiết ></a>
            </div>
            <div class="column">
                <h1 class="font-bold text-xl">Đặc điểm nổi bật</h1>
                <div class="flex">
                    <h1 class="border border-2 rounded-md my-2 border-red-500 text-red-500 font-bold">Giảm giá</h1>
                    <h1 class="border border-2 rounded-md mx-1 my-2 border-red-500 text-red-500 font-bold">Tặng giờ</h1>
                </div>
                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green"
                        class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                        <path
                            d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                    </svg>
                    <h1 class="py-7 px-3 font-bold">Đặt 2 giờ tặng 1 giờ</h1>
                </div>
            </div>
            <div class="column">
                <h1 class="font-bold text-xl">Giá phòng</h1>
                <h1 class="font-bold text-xl py-5 text-red-600">2 Giờ</h1>
                <h1><span class="font-bold pr-2 text-3xl">180.000đ</span> <span
                        class="text-xl line-through">200.000đ</span></h1>
                <button
                    class="border border-2 rounded-md my-3 px-8 py-3 border-blue-500 text-[#0194f3] hover:bg-blue-500 hover:text-white">Đặt
                    phòng</button>
            </div>
        </div>
    </section>
    <section class="mx-auto max-w-[1200px]">
        <h1 class="text-2xl font-bold text-[#0194f3] p-3">ĐÁNH GIÁ</h1>
        <div class="flex items-center py-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#e4ab55" class="bi bi-star-fill"
                viewBox="0 0 16 16">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
            </svg>
            <h1 class="text-5xl font-bold px-3">5/5</h1>
        </div>
        <div class="grid grid-cols-2 gap-8">
            <div class="column">
                <div class="grid grid-cols-2 gap-4">
                    <div class="small-column py-2 flex items-center">
                        <div class="border rounded-full bg-blue-300 w-16 h-16 flex justify-center items-center"
                            data-v-ec67da27=""><span class="text-xl">Q</span></div>
                        <h1 class="text-xl px-3">09/11/2022
                            <br>
                            Khách Hàng : <span class="font-bold ">Q****h</span>
                        </h1>
                    </div>
                    <div class="small-column py-2">
                        <h1 class="text-xl px-3">Phòng: <span class="font-bold">FLASHSALE</span></h1>
                        <div class="flex items-center">
                            <h1 class="text-xl px-3">Đánh giá: </h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div>
                    <h1 class="text-xl">Khá sạch sẽ, ổn áp , nhân viên thái độ phục vụ tốt, hình như khách sạn ko còn để
                        su ca ba ở tủ
                    </h1>
                </div>
            </div>
            <div class="column">
                <div class="grid grid-cols-2 gap-4">
                    <div class="small-column py-2 flex items-center">
                        <div class="border rounded-full bg-blue-300 w-16 h-16 flex justify-center items-center"
                            data-v-ec67da27=""><span class="text-xl">Q</span></div>
                        <h1 class="text-xl px-3">09/11/2022
                            <br>
                            Khách Hàng : <span class="font-bold ">Q****h</span>
                        </h1>
                    </div>
                    <div class="small-column py-2">
                        <h1 class="text-xl px-3">Phòng: <span class="font-bold">FLASHSALE</span></h1>
                        <div class="flex items-center">
                            <h1 class="text-xl px-3">Đánh giá: </h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div>
                    <h1 class="text-xl">Khá sạch sẽ, ổn áp , nhân viên thái độ phục vụ tốt, hình như khách sạn ko còn để
                        su ca ba ở tủ
                    </h1>
                </div>
            </div>
            <div class="column">
                <div class="grid grid-cols-2 gap-4">
                    <div class="small-column py-2 flex items-center">
                        <div class="border rounded-full bg-blue-300 w-16 h-16 flex justify-center items-center"
                            data-v-ec67da27=""><span class="text-xl">Q</span></div>
                        <h1 class="text-xl px-3">09/11/2022
                            <br>
                            Khách Hàng : <span class="font-bold ">Q****h</span>
                        </h1>
                    </div>
                    <div class="small-column py-2">
                        <h1 class="text-xl px-3">Phòng: <span class="font-bold">FLASHSALE</span></h1>
                        <div class="flex items-center">
                            <h1 class="text-xl px-3">Đánh giá: </h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div>
                    <h1 class="text-xl">Khá sạch sẽ, ổn áp , nhân viên thái độ phục vụ tốt, hình như khách sạn ko còn để
                        su ca ba ở tủ
                    </h1>
                </div>
            </div>
            <div class="column">
                <div class="grid grid-cols-2 gap-4">
                    <div class="small-column py-2 flex items-center">
                        <div class="border rounded-full bg-blue-300 w-16 h-16 flex justify-center items-center"
                            data-v-ec67da27=""><span class="text-xl">Q</span></div>
                        <h1 class="text-xl px-3">09/11/2022
                            <br>
                            Khách Hàng : <span class="font-bold ">Q****h</span>
                        </h1>
                    </div>
                    <div class="small-column py-2">
                        <h1 class="text-xl px-3">Phòng: <span class="font-bold">FLASHSALE</span></h1>
                        <div class="flex items-center">
                            <h1 class="text-xl px-3">Đánh giá: </h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e4ab55"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div>
                    <h1 class="text-xl">Khá sạch sẽ, ổn áp , nhân viên thái độ phục vụ tốt, hình như khách sạn ko còn để
                        su ca ba ở tủ
                    </h1>
                </div>
            </div>
            <a href="" class="underline font-bold text-xl hover:text-blue-600">Xem thêm đánh giá ></a>
        </div>
        <h1 class="flex items-center justify-center pt-5 pb-2">Bạn đã sử dụng phòng chưa ?</h1>
        <!--Button-->
        <div class=" flex items-center justify-center">
            <button
                class="px-6 py-3 bg-[#0194f3] text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                data-modal-toggle="modalEl" type="button">Gửi đánh giá</button>
        </div>
        <div id="modalEl" tabindex="-1" aria-hidden="true"
            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 p-4 w-full md:inset-0 h-modal md:h-full">
            <div class="relative w-full max-w-md h-full md:h-auto">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow">
                    <!--Dấu X-->
                    <button type="button"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-500 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:text-white"
                        data-modal-toggle="modalEl">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <!--Form -->
                    <div class="max-w-[1200px] mx-auto py-10">
                        <div class="p-5 block rounded-lg shadow-lg bg-white max-w-lg mx-auto">
                            <h1 class="text-center text-2xl font-bold text-[#0194f3] pt-2 pb-5">ĐÁNH GIÁ PHÒNG</h1>
                            <form>
                                <div class="mb-6">
                                    <textarea class="block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-[#0194f3] focus:outline-none
                            " id="exampleFormControlTextarea13" rows="3" placeholder="Nêu cảm nhận của bạn"></textarea>
                                </div>
                                <div class="mb-6">
                                    <input type="text"
                                        class=" block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-[#0194f3] focus:outline-none"
                                        id="exampleInput7" placeholder="Nhập tên của bạn">
                                </div>
                                <div class="mb-6">
                                    <input type="text"
                                        class=" block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-[#0194f3] focus:outline-none"
                                        id="exampleInput7" placeholder="Nhập số điện thoại">
                                </div>
                                <div class="mb-6 flex items-center">
                                    <div>
                                        <input
                                            class="appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-[#0194f3] checked:border-[#0194f3] focus:outline-none transition duration-200 mt-1 mx-2 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                            type="radio" name="inlineRadioOptions" id="" value="1">
                                        <label class=" inline-block text-gray-800" for="">Anh</label>
                                    </div>
                                    <div>
                                        <input
                                            class="appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-[#0194f3] checked:border-[#0194f3] focus:outline-none transition duration-200 mt-1 mx-2 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                            type="radio" name="inlineRadioOptions" id="" value="2">
                                        <label class=" inline-block text-gray-800" for="">Chị</label>
                                    </div>

                                </div>
                                <div class="mb-6">
                                    <input type="email"
                                        class=" block w-full px-3  py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300  rounded  transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-[#0194f3] focus:outline-none"
                                        id="exampleInput8" placeholder="Nhập email(để nhận thông báo phản hồi)">
                                </div>
                                <div class="mb-6">
                                    <input type="checkbox"
                                        class="appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-[#0194f3] checked:border-[#0194f3] focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain mr-2 cursor-pointer"
                                        id="" checked>
                                    <label class="inline-block text-gray-800" for="">Gửi tôi bản sao đánh giá</label>
                                </div>
                                <button type="button"
                                    class="w-full px-6 py-2.5 bg-[#0194f3] text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                                    data-modal-toggle="modalEl">Gửi đánh giá</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
</body>

</html>