<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgotpassword</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section class="">

        <div class="bg-[url('img/anh3.jpg')] max-w-4xl mx-auto h-[500px]">
            <h1 class="text-center text-uppercase font-line py-3 text-3xl text-white">Quên mật khẩu</h1>

            <div class="flex justify-center max-w-3xl mx-auto items-center ">
                <div class="w-[50%]">

                    <img src="img/anh3.jpg" alt="" class="w-full h-[300px]">
                </div>
                <div class="w-[50%]">
                    <form action="" method="post" class="max-w-4xl my-3 p-3 bg-blue-300 h-[300px]">

                        <div class="form-group">
                            <label for="taikhoandn">Nhập email hoặc số điện thoại của bạn để tiến hành lấy lại mật
                                khẩu:</label>
                            <input type="text" id="taikhoandn" name="taikhoandn" class="form-control"
                                placeholder="email">
                        </div>

                        <div class="flex justify-content-between">
                            <a href="login.html" class="btn-primary btn bg-blue-500">HỦY</a>
                            <button type="submit" class="btn-primary btn bg-blue-500">KHÔI PHỤC MẬT
                                KHẨU</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
</body>

</html>