<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <style>
        body {
            background-image: url(assets/img/wallpaperflare.com_wallpaper.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body class="">

    <div class="max-w-7xl mx-auto items-center mt-[150px] shadow shadow-lg bg-blue-300 opacity-90">

        <div class="flex justify-center items-center">
            <div class="w-full">
                <img src="./assets/img/product/p3.webp" alt="" class="w-full h-[600px]">
            </div>
            
            <div class="w-full ">
                <h1 class="text-center text-uppercase text-4xl text-blue-500">Đăng ký</h1>
                <form action="" method="post" class="pt-2 px-[100px] bg-blue-300 h-[500px]">

                    <div class="mb-3">

                        <input type="text" id="name" name="name" placeholder="Họ và tên"
                            class="border-b-2 w-full py-2 bg-blue-300 border-blue-500 transition ease-in-out m-0 focus:text-black outline-none placeholder:text-blue-500 ">
                    </div>
                    <div class="mb-3">

                        <input type="text" id="username" name="username" placeholder="Tên đăng nhập"
                            class="border-b-2 w-full py-2 bg-blue-300 border-blue-500 transition ease-in-out m-0 focus:text-black outline-none placeholder:text-blue-500 ">
                    </div>

                    <div class="mb-3">
                        <input type="password" id="password" name="password" placeholder="Mật khẩu"
                            class="border-b-2 w-full py-2 bg-blue-300 border-blue-500 transition ease-in-out m-0 focus:text-black focus:bg-blue-300 outline-none placeholder:text-blue-500">
                    </div>
                    <div class="mb-3">
                        <label for="gender" class="text-blue-500">Giới tính</label>
                    <div class="flex items-center">
                        <div class="form-check form-check-inline text-blue-500">
                            <input type="radio" name="gender" id="male" class="form-check-input" checked>
                            Nam
                        </div>
                        <div class="form-check form-check-inline text-blue-500">
                            <input type="radio" name="gender" id="female" class="form-check-input" checked>
                            Nữ
                        </div>
                    </div>
                    </div>
                    <div class="mb-3">
                        <input type="email" id="email" name="email" placeholder="Email"
                            class="border-b-2 w-full py-2 bg-blue-300 border-blue-500 transition ease-in-out m-0 focus:text-black focus:bg-blue-300 outline-none placeholder:text-blue-500">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="diachi" name="diachi" placeholder="Địa chỉ"
                            class="border-b-2 w-full py-2 bg-blue-300 border-blue-500 transition ease-in-out m-0 focus:text-black focus:bg-blue-300 outline-none placeholder:text-blue-500">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="sdt" name="sdt" placeholder="Số điện thoại"
                            class="border-b-2 w-full py-2 bg-blue-300 border-blue-500 transition ease-in-out m-0 focus:text-black focus:bg-blue-300 outline-none placeholder:text-blue-500">
                    </div>
                    <p class="pb-3 pt-2">
                        Đã có tài khoản?<a href="login.html" class="px-2 hover:text-blue-500">Đăng nhập</a>
                    </p>

                    <button type="submit" class="btn-primary btn btn-block bg-blue-500">Đăng ký</button>

                </form>
            </div>
        </div>
    </div>
</body>

</html>