<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin người dùng</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">


</head>

<body>
    <div class="container rounded bg-white mt-5 mb-5">
        <div>
            <div class="">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                        class="font-weight-bold">Nguyen Thien</span><span
                        class="text-black-50">thienyet149@gmail.com</span><span> </span></div>
            </div>
            <div class="">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Thông tin người dùng</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Tên</label><input type="text" class="form-control"
                                value="" placeholder="Thien"></div>
                        <div class="col-md-6"><label class="labels">Họ</label><input type="text" class="form-control"
                                value="" placeholder="Nguyen"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Tên đăng nhập</label><input type="text" disabled
                                class="form-control" value="" placeholder="Ten dang nhap"></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="text"
                                class="form-control" value="" placeholder="thienyet149@gmail.com"></div>
                        <div class="col-md-12"><label class="labels">Địa chỉ</label><input type="text"
                                class="form-control" value="" placeholder=""></div>
                        <div class="col-md-12"><label class="labels">Số điện thoại</label><input type="text"
                                class="form-control" value="" placeholder=""></div>
                    </div>
                    <div class="row mt-2 mx-1">
                        <div class="text-center"><button class="btn btn-primary profile-button" type="button">Lưu thông
                                tin</button></div>
                        <div class="text-center mx-5"><button class="btn btn-primary profile-button" type="button">Thay
                                đổi ảnh đại diện</button></div>
                        <div class="text-center "><button class="btn btn-primary profile-button" type="button">Thay đổi
                                mật khẩu</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</body>

</html>