<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý user</title>
    <link rel="stylesheet" href="assets/css/admin_cmt.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
</head>

<body>
    <main class="container" style="display: flex;">
        <nav>
            <div class="logo-name">
                <div class="logo-image">
                    <img src="img/logo.jpg" alt="">
                </div>

                <span class="logo_name">StayyInn Hotel</span>
            </div>

            <div class="menu-items">
                <ul class="nav-links">
                    <li><a href="#">
                            <i class="uil uil-estate"></i>
                            <span class="link-name">Trang chủ</span>
                        </a></li>
                    <li><a href="#">
                            <i class="uil uil-comment-alt-dots"></i>
                            <span class="link-name">Quản lý comment</span>
                        </a></li>
                    <li><a href="#">
                            <i class="uil uil-apps"></i>
                            <span class="link-name">quản Lý Service</span>
                        </a></li>
                    <li><a href="#">
                            <i class="uil uil-bed-double"></i>
                            <span class="link-name">quản Lý room</span>
                        </a></li>
                    <li><a href="#">
                            <i class="uil uil-book-medical"></i>
                            <span class="link-name">quản lý booking</span>
                        </a></li>
                    <li><a href="#">
                            <i class="uil uil-list-ui-alt"></i>
                            <span class="link-name">quản Lý Category</span>
                        </a></li>

                    <li><a href="#">
                            <i class="uil uil-bitcoin"></i>
                            <span class="link-name">Quản Lý Dịch Vu</span>
                        </a></li>

                    <li><a href="#">
                            <i class="uil uil-feedback"></i>
                            <span class="link-name">quản Lý Feedbacks</span>
                        </a></li>

                    <li><a href="#">
                            <i class="uil uil-chart-pie"></i>
                            <span class="link-name">Quản Lý Thống Kê</span>
                        </a></li>

                    <li><a href="#">
                            <i class="uil uil-head-side"></i>
                            <span class="link-name">Quản Lý admin</span>
                        </a></li>

                </ul>

                <ul class="logout-mode">
                    <li><a href="#">
                            <i class="uil uil-signout"></i>
                            <span class="link-name">Logout</span>
                        </a></li>

                    <li class="mode">
                        <a href="#">
                            <i class="uil uil-moon"></i>
                            <span class="link-name">Dark Mode</span>
                        </a>

                        <div class="mode-toggle">
                            <span class="switch"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="dashboard">
            <div class="w-full flex justify-between p-3 items-center">
                <i class="uil uil-bars sidebar-toggle text-3xl"></i>

                <div class="search-box">
                    <i class="uil uil-search"></i>
                    <input type="text" placeholder="Search here..." class="border-sky-400 px-3">
                </div>

                <img src="./assets/img/anh3.jpg" alt="" width="50px" class="rounded-full">
            </div>

            <div class="content">
                <div class="danh_sach">
                    <h3>
                        DANH SÁCH USERS
                    </h3>

                    <div class="action flex items-center">
                        <a href="#" class="mx-3">Thêm</a>
                        <a href="#" class="mx-3">Sửa</a>
                        <a href="#">Xóa</a>
                    </div>

                    <table>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>UserName</th>
                            <!-- <th>PassWord</th> -->
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Images</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Date</th>
                            <th>Status</th>
                            <!-- <th>Created_at</th>
                            <th>Updated_at</th> -->
                            <th></th>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox" name="" id="">
                            </td>
                            <td>1</td>
                            <td>Kiều Quang Vinh</td>
                            <td>Vinhkq</td>
                            <!-- <td>123</td> -->
                            <td>Nam</td>
                            <td>vinhkqph25485@fpt.vn</td>
                            <td><img src="./assets/img/img.jpeg" alt="" width="50px"></td>
                            <td>Hà Nội</td>
                            <td>032125485</td>
                            <td>15/11/2022</td>
                            <td>....</td>
                            <td>11/11/2022</td>
                            <!-- <td>21/11/2022</td> -->
                            <!-- <td> -->
                                <!-- <div class="action flex items-center">
                                    <a href="#" class="mx-3">Sửa</a>
                                    <a href="#">Thêm</a> -->
                                </div>
                            <!-- </td> -->
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox" name="" id="">
                            </td>
                            <td>1</td>
                            <td>Kiều Quang Vinh</td>
                            <td>Vinhkq</td>
                            <!-- <td>123</td> -->
                            <td>Nam</td>
                            <td>vinhkqph25485@fpt.vn</td>
                            <td><img src="./assets/img/img.jpeg" alt="" width="50px"></td>
                            <td>Hà Nội</td>
                            <td>032125485</td>
                            <td>15/11/2022</td>
                            <td>....</td>
                            <td>11/11/2022</td>
                            <!-- <td>21/11/2022</td>
                            <td>
                                <div class="action flex items-center">
                                    <a href="#" class="mx-3">Sửa</a>
                                    <a href="#">Thêm</a>
                                </div>
                            </td> -->
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox" name="" id="">
                            </td>
                            <td>1</td>
                            <td>Kiều Quang Vinh</td>
                            <td>Vinhkq</td>
                            <!-- <td>123</td> -->
                            <td>Nam</td>
                            <td>vinhkqph25485@fpt.vn</td>
                            <td><img src="./assets/img/img.jpeg" alt="" width="50px"></td>
                            <td>Hà Nội</td>
                            <td>032125485</td>
                            <td>15/11/2022</td>
                            <td>....</td>
                            <td>11/11/2022</td>
                            <!-- <td>21/11/2022</td> -->
                            <!-- <td>
                                <div class="action flex items-center">
                                    <a href="#" class="mx-3">Sửa</a>
                                    <a href="#">Thêm</a>
                                </div>
                            </td> -->
                        </tr>

                    </table>
                </div>

                <div class="bieu_do">
                    <h3>
                        CÁC THỐNG KÊ VỀ USERS
                    </h3>

                    <div id="myfirstchart" style="height: 250px;"></div>

                </div>
            </div>
        </section>


    </main>

    <script>

        const body = document.querySelector("body"),
            modeToggle = body.querySelector(".mode-toggle");

        let getMode = localStorage.getItem("mode");
        if (getMode && getMode === "dark") {
            body.classList.toggle("dark");
        }

        modeToggle.addEventListener("click", () => {
            body.classList.toggle("dark");
            if (body.classList.contains("dark")) {
                localStorage.setItem("mode", "dark");
            } else {
                localStorage.setItem("mode", "light");
            }
        });


        new Morris.Donut({
            // ID of the element in which to draw the chart.
            element: 'myfirstchart',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [
                { year: '2008', value: 20 },
                { year: '2009', value: 10 },
                { year: '2010', value: 5 },
                { year: '2011', value: 5 },
                { year: '2012', value: 20 }
            ],
            // The name of the data record attribute that contains x-values.
            xkey: 'year',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['value'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['Value']
        });
    </script>



</body>

</html>