<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý bình luận</title>
    <link rel="stylesheet" href="assets/css/admin_cmt.css">
    <link rel="stylesheet" href="../admin/layout/assets/css/index-admin.css">
    <link rel="stylesheet" href="assets/css/side.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
</head>

<body>
    <main class="container" style="display: flex;">
        <nav>
            <div class="logo-name">
                <div class="logo-image">
                    <img src="img/logo.jpg" alt="">
                </div>

                <span class="logo_name">StayyInn Hotel</span>
            </div>

            <div class="menu-items">
                <ul class="nav-links">
                    <li><a href="#">
                            <i class="uil uil-estate"></i>
                            <span class="link-name">Trang chủ</span>
                        </a></li>
                    <li><a href="#">
                            <i class="uil uil-comment-alt-dots"></i>
                            <span class="link-name">Quản lý Comment</span>
                        </a></li>
                    <li><a href="#">
                            <i class="uil uil-apps"></i>
                            <span class="link-name">Quản lý Service</span>
                        </a></li>
                    <li><a href="#">
                            <i class="uil uil-bed-double"></i>
                            <span class="link-name">Quản lý room</span>
                        </a></li>
                    <li><a href="#">
                            <i class="uil uil-book-medical"></i>
                            <span class="link-name">Quản lý Booking</span>
                        </a></li>
                    <li><a href="#">
                            <i class="uil uil-list-ui-alt"></i>
                            <span class="link-name">Quản lý Category</span>
                        </a></li>

                    <li><a href="#">
                            <i class="uil uil-bitcoin"></i>
                            <span class="link-name">Quản lý Dịch Vu</span>
                        </a></li>

                    <li><a href="#">
                            <i class="uil uil-feedback"></i>
                            <span class="link-name">Quản lý Feedbacks</span>
                        </a></li>

                    <li><a href="#">
                            <i class="uil uil-chart-pie"></i>
                            <span class="link-name">Quản lý Thống Kê</span>
                        </a></li>

                    <li><a href="#">
                            <i class="uil uil-head-side"></i>
                            <span class="link-name">Quản lý Admin</span>
                        </a></li>

                </ul>

                <ul class="logout-mode">
                    <li><a href="#">
                            <i class="uil uil-signout"></i>
                            <span class="link-name">Logout</span>
                        </a></li>

                    <li class="mode">
                        <a href="#">
                            <i class="uil uil-moon"></i>
                            <span class="link-name">Dark Mode</span>
                        </a>

                        <div class="mode-toggle">
                            <span class="switch"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content">

            <div class="danh_sach">
                <h3>
                    DANH SÁCH BÌNH LUẬN CỦA NGƯỜI DÙNG
                </h3>

                <div class="action">
                    <a href="">Xóa bình luận</a>
                </div>

                <table>
                    <tr>
                        <th>#</th>
                        <th style="width: 65px;">ID</th>
                        <th>Người bình luận</th>
                        <th style="width: 420px;">Nội dung</th>
                        <th>Ngày bình luận</th>
                    </tr>

                    <tr>
                        <td>
                            <input type="checkbox" name="" id="">
                        </td>
                        <td>1</td>
                        <td>Tùng</td>
                        <td>
                            <p>
                                cho mình xin cho mình xin cho mình xin cho mình
                                xin cho mình xin cho mình xin cho mình xin cho
                                mình xin cho mình xin cho mình xin cho mình xin
                                cho mình xin di
                            </p>
                        </td>
                        <td>11-11-2022</td>
                    </tr>

                    <tr>
                        <td>
                            <input type="checkbox" name="" id="">
                        </td>
                        <td>1</td>
                        <td>Tùng</td>
                        <td>
                            <p>
                                cho mình xin cho mình xin cho mình xin cho mình
                                xin cho mình xin cho mình xin cho mình xin cho
                                mình xin cho mình xin cho mình xin cho mình xin
                                cho mình xin di
                            </p>
                        </td>
                        <td>11-11-2022</td>
                    </tr>

                    <tr>
                        <td>
                            <input type="checkbox" name="" id="">
                        </td>
                        <td>1</td>
                        <td>Tùng</td>
                        <td>
                            <p>
                                cho mình xin cho mình xin cho mình xin cho mình
                                xin cho mình xin cho mình xin cho mình xin cho
                                mình xin cho mình xin cho mình xin cho mình xin
                                cho mình xin di
                            </p>
                        </td>
                        <td>11-11-2022</td>
                    </tr>

                    <tr>
                        <td>
                            <input type="checkbox" name="" id="">
                        </td>
                        <td>1</td>
                        <td>Tùng</td>
                        <td>
                            <p>
                                cho mình xin cho mình xin cho mình xin cho mình
                                xin cho mình xin cho mình xin cho mình xin cho
                                mình xin cho mình xin cho mình xin cho mình xin
                                cho mình xin di
                            </p>
                        </td>
                        <td>11-11-2022</td>
                    </tr>
                </table>
            </div>

            <div class="bieu_do">
                <h3>
                    CÁC THỐNG KÊ VỀ BÌNH LUẬN CỦA NGƯỜI DÙNG
                </h3>

                <div id="myfirstchart" style="height: 250px;"></div>

            </div>
        </div>

    </main>

    <script>

        const body = document.querySelector("body"),
            modeToggle = body.querySelector(".mode-toggle");

        let getMode = localStorage.getItem("mode");
        if (getMode && getMode === "dark") {
            body.classList.toggle("dark");
        }

        modeToggle.addEventListener("click", () => {
            body.classList.toggle("dark");
            if (body.classList.contains("dark")) {
                localStorage.setItem("mode", "dark");
            } else {
                localStorage.setItem("mode", "light");
            }
        });


        new Morris.Donut({
            // ID of the element in which to draw the chart.
            element: 'myfirstchart',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [
                { year: '2008', value: 20 },
                { year: '2009', value: 10 },
                { year: '2010', value: 5 },
                { year: '2011', value: 5 },
                { year: '2012', value: 20 }
            ],
            // The name of the data record attribute that contains x-values.
            xkey: 'year',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['value'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['Value']
        });
    </script>



</body>

</html>